In [1]:
import pandas as pd

In [ ]:
pd.read_csv('file_name')

In [3]:
WHEELS = [
    {   
        'wheel_id': 'w1',
        'lost': 1,
        'loose': 2,
        'broken': 3,
    },
    { 
        'wheel_id': 'w2',
        'lost': 1,
        'loose': 2,
        'broken': 3,
    },
    {
        'wheel_id': 'w3',
        'lost': 1,
        'loose': 2,
        'broken': 3,
    },
    {
        'wheel_id': 'w4',
        'lost': 1,
        'loose': 2,
        'broken': 3,
    }
]

In [4]:
df = pd.DataFrame(WHEELS)
df.set_index('wheel_id', inplace=True)
df

          lost  loose  broken
wheel_id
w1           1      2       3
w2           1      2       3
w3           1      2       3
w4           1      2       3

In [23]:
df['anormal'] = 0
df

          lost  loose  broken  anormal
wheel_id
w1           1      2       3        0
w2           1      2       3        0
w3           1      2       3        0
w4           1      2       3        0

In [37]:
df.loc['w1', 'broken']

3